<!-- 404.ejs -->
<!-- Serves as a customized 404 error page  -->
<!-- Author:  Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-30 -->

<%- include("head") %>
    <meta name="description" content="404 Error - The Requested Page Was Not Found at the Travel Experts' website">
    <title>404 - Travel Experts</title>
<%- include("header") %>

    <div class="main-content">
        <div class="grid">
            <h1>404 File Not Found!</h1>
            <article>
                Lorem ipsum dolor sit amet, dico feugait petentium eos ne, lobortis scripserit nam an, eam utroque expetenda assueverit et. An mutat clita delectus vel, eum singulis efficiendi referrentur no. Te eum populo oporteat constituto. Vis quod saepe recteque ex. Pro in tantas putent mollis. Graeco denique cum in. Iracundia eloquentiam ut pro, stet posse mandamus ea sit.
            </article>
        </div>
    </div>
    <%- include("footer") %>
</body>
</html>