<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <h1 class="heading">Travel Experts.....</h1>
    <link rel="stylesheet" href="contact.css"/>
</head>
<body class="bg">
    <h3>About Us...</h3>
    <p class="para" >We are one of the leading travel agencies in Alberta. At Travel Experts, we take pride
         in providing our clients with customized services right from planning to conclusion of your trips
          including rescheduling and documentation. For business or pleasure, we take pride in providing you
           with the deals in market.Check out our exciting <a href="rform.html">packages</a>. we guarantee that you can  
           save your money and time and focus on more important aspects of your travel.We guarantee that
         you save money and time and focus on 
        more important aspects of your travel. <a href="rform.html">Register</a> with us 
        so that you get our top deals.</p>
    </p>
    <h3>Our Location</h3>
        <ul class="add1">
            <li>145 Aarathi Manor</li>
            <li>SW Calgary</li>
            <li>INN 001</li>
            <li>Alberta,CANADA</li>

        </ul>

        <h3>Contact Us....</h3>
        <section>
        <ol class="add1">
       <div>
           
          <li>Alex Jacob</li>
          <li> Phone:986454334</li>
          <li><a href="mailto:alexzjb@gmail.com" > e-mail Alex</a></li></div>
          <br><br>
          <div><li>James Samson</li>
          <li>phone:4354366634</li> 
          <li><a href="mailto:jamessm@gmail.com">e-mail James</a></li></div>
    </ol>
</section>
    <a href="#">Up</a>
</body>
</html>