<!-- index.ejs -->
<!-- Serves as the homepage for the website -->
<!-- Author: Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-29 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Montserrat and Roboto - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="gator.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Best Venture - Travel Experts</title>
</head>
<body>
    <% for (var key in customer){ %> 
        <p> <%= customer[key] %>  </p>
    <% }; %> 

        <% orders.forEach((order)=>{ %> 
            <% for (var key in order){ %> 
                <p> <%= order[key] %>  </p>
            <% }; %>
        <% }) %> 
</body>
