<footer>
	
    <div>
        <a class="nav__link" href="/">Home Page</a><br />
        <a class="nav__link" href="/contact">Contact Us</a><br />
        <a class="nav__link" href="/getpackages">Vacation Packages</a><br />
        <a class="nav__link" href="/register">Register</a><br />
        <a class="nav__link" href="/customerhome">My Profile</a>
    </div>
    
    <div>
        <br />This page is copyrighted &copy; to Best Venture Travel Experts, 2021
    </div>
</footer>