<!-- footer.ejs -->
<!-- Serves as the footer template for the whole website -->
<!-- Author: Justin Molnar -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-28 -->

<footer>
	
    <div class="col">
        <a class="nav__link" href="/">Home Page</a><br />
        <a class="nav__link" href="/getpackages">Vacation Packages</a><br />
        <a class="nav__link" href="/contact">Contact Us</a><br />
    </div>
    <div class="col">
        <a class="nav__link" href="/register">Register</a><br />
        <a class="nav__link" href="/customerhome">My Profile</a>
    </div>
    <div class="col">
        <a class="icon--foot" href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square icon"></i></a>
        <a class="icon--foot" href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square icon"></i></a>
        <a class="icon--foot" href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square icon"></i></a>
        <p>This page is copyrighted &copy; to Travel Experts, 2021</p>
    </div>

</footer>