<nav>
    <a href="/">Home Page</a>
    <a href="/customerhome">My Profile</a>
    <a href="/contact">Contact Us</a>
    <a href="/getpackages">View Our Vacation Packages</a>
    <a href="/register">Register Here</a>
</nav>
<br />