<nav>
    <ul class="nav">
        <img class="logo" src="logo2.png">
        <li><a class="nav__link" href="/">Home Page</a></li>
        <li><a class="nav__link" href="/getpackages">Packages</a></li>
        <li><a class="nav__link" href="/customerhome">My Profile</a></li>
        <li><a class="nav__link" href="/register">Register</a></li>
        <li><a class="nav__link" href="/contact">Contact Us</a></li>
    </ul>
</nav>
<br><br>