<!-- index.ejs -->
<!-- Serves as the homepage for the website -->
<!-- Author: Justin Molnar -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-29 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Montserrat and Roboto - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="gator.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Best Venture - Travel Experts</title>
</head>
<body>

    <%- include('header') %>

    <h1 class="hero">Hero Image</h1>
    <h1>Welcome to Best Venture!</h1>
    
    <article>

        <div>
            <h2>Article</h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
                <br /><br />
            <ul>
                <li>
                    Lorem ipsum dolor sit amet
                </li>
                <li>
                    Consectetur adipiscing elit
                </li>
                <li>
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </li>
            </ul>
        </div>
    <div><img src="suitcases.jpg"></div>

    </article>

    <%- include("footer")%>

</body>
</html>