<!-- login.ejs -->
<!-- Serves as the log in page for registered customers -->
<!-- Author: Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-12-02 -->

<%- include('head') %>
    <meta name="description" content="Log in here: for the customers of the Travel Experts agency">
    <title>Login - Travel Experts</title>
<%- include('header') %> 

<br />
    <div class="main-content">
        <div class="grid">
            <h2>Login</h2>
            <form method="post">
                <label for="username">Username</label>
                <br />
                <input type="text" name="username" placeholder="Username"/>
                <br />
                <label for="password">Password</label>
                <br />
                <input type="password" name="password" placeholder="Password"/>
                <br />
                <button class="btn">Log In</button>
            </form>
        </div>
        <div class="grid">
            <h2>Don't have an account?</h2>
            <a href="/register"><button class="btn">Register</button></a>
        </div>
    </div>
    <%- include('footer') %> 
</body>