<!-- orderPlaced.ejs -->
<!-- Serves as the page for confirming that customer's order was submitted -->
<!-- Author: Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-12-04 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Montserrat and Roboto - Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="You package order was successfully placed">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="carousel.css">
        <link rel="stylesheet" href="headfoot.css">
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <script src="https://kit.fontawesome.com/333efb0c4e.js" crossorigin="anonymous"></script>
        <title>Best Venture - Travel Experts</title>
    </head>
    
<body>
    <%- include('header') %>
    <div class="main-content">
        <div class="grid">
            <h1>Order Placed</h1>
            <article>
                Thank you for ordering! Your agent will contact you within 48 hours!
            </article>
        </div>
    </div>
    <%- include('footer') %> 
</body>
</html>