<!-- orderPlaced.ejs -->
<!-- Serves as the page for confirming that customer's order was submitted -->
<!-- Author: Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-12-04 -->

<%- include('head') %>
    <meta name="description" content="You package order was successfully placed">
    <title>Order Placed  - Travel Experts</title>
<%- include('header') %>

    <div class="main-content">
        <div class="grid">
            <h1>Order Placed</h1>
                Thank you for ordering! Your agent will contact you within 48 hours!
        </div>
    </div>
    <%- include('footer') %> 
</body>
</html>