<!-- packages.ejs -->
<!-- Lists availible travel packages -->
<!-- Author: Marat Nikitin -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-29 -->

<!DOCTYPE html>
<html> 
	<head>
		 <title> Vacation Package </title>
		 <!-- All the CSS styles are in the separate 'packages.css' file -->
		 <link rel="icon" href="gator.png" />
		<link rel="stylesheet" type="text/css" href="packages.css" />	
		<link rel="stylesheet" type="text/css" href="index.css" />	
		<!--Montserrat and Roboto - Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<%- include('header') %> 
		<article>
			<div style="max-width: 100%;">
				<h1> Vacation Packages </h1> <br> 
				
				<h2> List of available packages: </h2> <br>
				<table>
					<tr>
						<th> Description</th>
						<th> Arrival Date </th>
						<th> Departure Date </th>
						<th> Price, $ </th>
						<th> Order </th>
					</tr>
					<tr>
						<td> Cancun from Calgary </td>
						<td> December 18, 2021 </td>
						<td> December 31, 2021 </td>
						<td> 1500 </td>
						<td> <button onclick="window.location.href='/'"> Order This Package </button> </td>
					</tr>
					<tr>
						<td> Havana from Calgary </td>
						<td> December 20, 2021 </td>
						<td> December 27, 2021 </td>
						<td> 1200 </td>
						<td> <button onclick="window.location.href='/'"> Order This Package </button> </td>
					</tr>
					<tr>
						<td> Punta Cana from Vancouver </td>
						<td> December 13, 2021 </td>
						<td> December 22, 2021 </td>
						<td> 1700 </td>
						<td> <button onclick="window.location.href='/'"> Order This Package </button> </td>
					</tr>
				
				</table> <br><br>
			</div>
		</article>
		<%- include('footer') %> 
	</body>
</html>

