<!-- thankyou.ejs -->
<!-- Loads after successfull registration -->
<!-- Author: Daniel Palmer -->
<!-- CPRG 207 - Threaded Project -->
<!-- 2021-11-29 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Montserrat and Roboto - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="gator.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="headfoot.css">
    <title>Thankyou</title>
</head>
<body>
    <%- include('header') %> 
    <div class="main-content">
        <div class="grid">
            <h1>Thank you</h1>
            <article>
                Lorem ipsum dolor sit amet, dico feugait petentium eos ne, lobortis scripserit nam an, eam utroque expetenda assueverit et. An mutat clita delectus vel, eum singulis efficiendi referrentur no. Te eum populo oporteat constituto. Vis quod saepe recteque ex. Pro in tantas putent mollis. Graeco denique cum in. Iracundia eloquentiam ut pro, stet posse mandamus ea sit.
            </article>
        </div>
    </div>
    <%- include('footer') %> 
</body>
</html>