:root {
    --charcoal: #264653ff;
    --green: #2a9d8fff;
    --yellow: #e9c46aff;
    --orange: #f4a261ff;
    --sienna: #e76f51ff;

    background-color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0;
}

nav {
    background-color: var(--charcoal);
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    margin:auto;
    padding: .5em 0em .5em 0em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

nav a {
    margin: 0% 5% 0% 5%;
    float:right;
    color: var(--orange);
    letter-spacing: 0.1em;
    text-decoration: none;
}
nav a:hover {
    color: var(--sienna);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    color: var(--charcoal);
    text-align: center;
    padding: .5em 0em .5em 0em;
}

.hero {
    text-align: center;
    padding: 15% 0px 15% 0%;
    border: solid 2px;
}

article {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    line-height: 1.6;
    max-width: 90%;
    gap: 1em;
    padding-bottom: 3em;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 20em;
}

footer {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    line-height: 1.6;
    gap: 1em;
    background-color: var(--charcoal);
    padding: 0px 10% 0px 10%;
    color: var(--orange);
}

footer a {
    color: var(--orange);
    letter-spacing: 0.1em;
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer a:hover {
    color: var(--sienna);
}

@media (min-width:55em) {

	article {
		grid-auto-flow: column;
		margin: auto;
        padding: 0em 0em 5em 5em;
        
	}
    
    article div {
        max-width:40em;
        margin:auto;
    }

    article img{
        padding-right: 10em;
    }

    footer {
        grid-auto-flow: column;
		margin: auto;
    }
}