:root {
    --charcoal: #264653ff;
    --green: #2a9d8fff;
    --yellow: #e9c46aff;
    --orange: #f4a261ff;
    --sienna: #e76f51ff;

    background-color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    color: var(--charcoal);
    text-align: center;
    padding: .5em 0em .5em 0em;
    font-weight: 800;
}

.main-content {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    line-height: 1.6;
    max-width: 90%;
    gap: 1em;
    padding-bottom: 3em;
}

.main-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 20em;
}

.push-down {
    margin-top: 1em;
}

@media (min-width:55em) {

	.main-content {
		grid-auto-flow: column;
		margin: auto;
        padding: 0em 0em 5em 5em;
        
	}
    
    .main-content div {
        max-width:40em;
        margin:auto;
    }

    .main-content img{
        padding-right: 10em;
    }
}