/* packages.css */
/* styling of the packages page */
/* Author: Marat Nikitin */
/* CPRG 207 - Threaded Project */
/* 2021-11-30 */

:root {
	--charcoal: #264653ff;
	--green: #2a9d8fff;
	--yellow: #e9c46aff;
	--orange: #f4a261ff;
	--sienna: #e76f51ff;
}

table {
	color: var(--charcoal);
	border-collapse: collapse;
	text-align: center;
	max-width: 85%;
	margin: auto;
}
  
td, th {
	border: 2px solid var(--charcoal);
	padding: .7em .5em .7em .5em;
  }

td {
	background-color:  var(--orange);
}

th {
	text-align: center;
	background-color: var(--sienna);
	font-size: 1.1em;
	padding: 0;
}

button {
	font-size: 0.9rem;
	border-radius: 6px;
	background-color: var(--green);
	font-weight: 600;
	color:var(--yellow);
	transition: 0.3s;
}

button:hover {
	background-color: var(--charcoal);
}
