/* packages.css */
/* styling of the packages page */
/* Author: Marat Nikitin */
/* CPRG 207 - Threaded Project */
/* 2021-11-30 */

:root {
	--charcoal: #264653ff;
	--green: #2a9d8fff;
	--yellow: #e9c46aff;
	--orange: #f4a261ff;
	--sienna: #e76f51ff;
}

table {
	color: var(--charcoal);
	text-align: left;
	font-size: 1.2rem;
	border-collapse: collapse;
	width: 96%;
	margin-left: 2%;
	text-align: center;
}
  
td, th {
	border: 2px solid var(--charcoal);
	padding: 0.5em;
	padding-top: 1em; 
	padding-bottom: 1em;
  }

td {
	background-color:  var(--yellow);
}

th {
	text-align: center;
	background-color: var(--yellow);
}

/* For the header of a list of packages */
#div7 {
	color: var(--charcoal);
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}

button {
	font-size: 0.9rem;
	border-radius: 6px;
	background-color: var(--orange);
	font-weight: bold;
}

/* Trying to get alternating colours - does not work yet */ 
tr:nth-child(odd) {
	background-color: var(--green);
}
